<!-- v1.01 -->
<div class="container" ng-show="false && timer.data.value == 0 && scorings.total == 0 ">
  <div class="jumbotron">
      <h1>Aguardando...</h1>
      <p>Para começar a pontuar, inicie o cronômetro</p>
      <p>Versão: Artística Regional 2024.1</p>
    </div>
  </div>
</div>

<div class="container" ng-hide="false && timer.data.value == 0 && scorings.total == 0 ">
  <!-- SALAS -->
  <div class="row">

    <div class="col-md-12 col-sm-12" ng-init="k = 'first'">

      <h3>Entrevista técnica</h3>
      <h4>Programação</h4>
      <div class="input-group input-group-lg">
        <input ng-model="scoreData.programming" class="form-control"/>
          <span class="input-group-addon">{{scorings.programming || 0}} pts</span>
          <span ng-show="scorings.programming != +scoreData.programming" class="input-group-addon alert alert-danger">Escolha um numero entre 0 e 10</span>
      </div>
      <h4>Sistemas Eletromecânicos</h4>
      <div class="input-group input-group-lg">
        <input ng-model="scoreData.electromechanical" class="form-control"/>
          <span class="input-group-addon">{{scorings.electromechanical || 0}} pts</span>
          <span ng-show="scorings.electromechanical != +scoreData.electromechanical" class="input-group-addon alert alert-danger">Escolha um numero entre 0 e 10</span>
      </div>
      <h4>Sensores e sistemas de comunicação</h4>
      <div class="input-group input-group-lg">
        <input ng-model="scoreData.sensors" class="form-control"/>
          <span class="input-group-addon">{{scorings.sensors || 0}} pts</span>
          <span ng-show="scorings.sensors != +scoreData.sensors" class="input-group-addon alert alert-danger">Escolha um numero entre 0 e 10</span>
      </div>
      <h4>Trabalho em equipe e colegalidade</h4>
      <div class="input-group input-group-lg">
        <input ng-model="scoreData.teamwork" class="form-control"/>
          <span class="input-group-addon">{{scorings.teamwork || 0}} pts</span>
          <span ng-show="scorings.teamwork != +scoreData.teamwork" class="input-group-addon alert alert-danger">Escolha um numero entre 0 e 10</span>
      </div>
      <h4>Deduções</h4>
      <div class="input-group input-group-lg">
        <input ng-model="scoreData.penalties" class="form-control"/>
          <span class="input-group-addon">{{scorings.penalties || 0}} pts</span>
          <span ng-show="scorings.penalties != +scoreData.penalties" class="input-group-addon alert alert-danger">Escolha um numero entre -15 e 0</span>
      </div>
      
    </div>
  </div>
</div>
